.contact-mainContainer {
    padding: 5% 1.5%;
}

.contact-container {
    padding: 0 4%;
}

.contact-contact {
    font-family: "Playfair Display";
}

.contact-mail {
    text-decoration: none;
}

.contact-links {
    width: 100%;
}

.contact-a {
    margin: 0 5%;
}

.btn-padding {
    padding: 1% 5%;
}

.contact-btn {
    background-color: transparent;
}
