.contact-mainContainer {
    padding: 5% 1.5%;
}

.contact-container {
    padding: 0 4%;
}

.contact-contact {
    font-family: "Playfair Display";
}

.contact-mail {
    text-decoration: none;
}

.hello-btn {
    padding: 1% 3%;
}
